{% extends 'partials/base.html' %}
{% block title %}Cerrar Sesión{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3 text-center">
                <h3>Sesión Cerrada</h3>
                <hr>
                <div class="alert alert-danger">
                    <h4>Has cerrado sesión correctamente.</h4>
                </div>
                <a href="{% url 'user-login' %}" class="btn btn-primary">Iniciar sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
