{% extends 'partials/base.html' %}
{% block title %}Orden{% endblock %}

{% block content %}
{% include 'partials/topnav.html' %}

<!-- Table -->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <table class="table bg-white shadow-sm">
                <thead class="bg-info text-white text-center">
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Ordenado Por</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.product }}</td>
                        <td>{{ order.product.category }}</td>
                        <td>{{ order.order_quantity }}</td>
                        <td>{{ order.staff.username }}</td>
                        <td>{{ order.date }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center text-muted">No hay órdenes registradas.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End Table -->

{% endblock %}
